.window{
      display:none;
      width:auto;
      height:auto;
      position:absolute;
      left:0;
      top:0;
      background:#FFF;
      z-index:9900;
      padding:10px;
      border-radius:10px;
    }

    #mascara{
      position:absolute;
        left:0;
        top:0;
        z-index:9000;
        background-color:#000;
        display:none;
    }

    .fechar{
      color: rgb(69, 26, 62);
      text-decoration: none;
      font-family: 'open_sanscondensed_light';
      display:block; 
      text-align:right;
    }

    .fechar:a {

    }